body {
  background-color: black;
}

.head {
  background-color: black;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #3170A8;
  font-weight: lighter;
  padding: 10px 0;
  font-stretch: semi-expanded;
  font-size: 36px;
}

span.head {
  color: #EE8123;
  font-style: normal;
}
span {
  color: #3170A8;
  font-size: 14px;
  padding-left: 15px;
  display: inline-block;
  font-style: italic;
  margin-top: 13px;
  margin-bottom: 0;
}

span ~ span {
  float: right;
  padding-right: 15px;
}
.comments {
  box-sizing: border-box;
  margin: auto;
}

hr {
  height: 1px;
  border-top: 0;
  border-style: dashed;
  margin: 7px 13px;
}

p {
  color: #888c94;
  margin: 11px 15px;
  font-size: 16px;
}

.firstComment {
  width: 360px;
  border: 1px solid black;
  display: inline-block;
  float: left;
  margin-left: 260px;
  position: relative;
  background: white;
}

.firstComment:before {
  position: absolute;
  background-image: url('knives-ninja.png');
  background-size: 97px 97px;
  width: 97px;
  height: 97px;
  content:"";
  left: -120px;
  top: -1px;
}

.secondComment {
  width: 360px;
  border: 1px solid black;
  display: inline-block;
  float: left;
  margin-left: 180px;
  position: relative;
  background-color: white;
}

.secondComment:before {
  position: absolute;
  background-image: url('ponsy-deer.png');
  background-size: 97px 97px;
  width: 97px;
  height: 97px;
  content:"";
  left: -120px;
  top: -1px;
}

.secondComment:after {
  content: '';
  position: absolute;
  left: -40px;
  top: 30px;
  border: 20px solid transparent;
  border-right: 20px solid white;
}

.firstComment:after {
  content: '';
  position: absolute;
  left: -35px;
  top: 35px;
  border: 15px solid transparent;
  border-right: 20px solid white;
}