@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import "./../../project/style .css";

:root {
  --header-bg-color: var(--pearl-white);
  --header-text-color: var(--honey-yellow);
  --header-hover-color: var(--gray-silk);
  --header-hover-text-color: var(--pearl-white);
  --header-active-color: var(--gray-silk);
  --header-focus-color: var(--pale-green);
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--header-bg-color);

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------ header -------------------------------------------*/
nav {
  background-color: var(--header-bg-color);
  tab-index: impotant;
}

.navbar-brad img {
  width: 150px;
}

.navbar-nav li {
  padding-right: 7rem;
}

.nav-link {
  font-size: 1.4em;
}

/* ------------------------ Slaider  -------------------------------- */

.carousel-inner {
  height: 500px;
}

.carousel-inner img {
  transform: translateY(-10%);
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-85%);
  text-shadow: 1px 1px 10px #000;
}

@media (min-width: 450px) {
  .carousel-caption .display-2 {
    font-size: 3em;
  }
}

@media (max-width: 360px) {
  .carousel-caption .display-2 {
    font-size: 2.2em;
  }
}
