@import "./../../project/style .css";

:root {
  --button-bg-color: var(--pearl-white);
  --button-text-color: var(--honey-yellow);
  --button-hover-color: var(--gray-silk);
  --button-active-color: var(--gray-silk);
  --button-focus-color: var(--pale-green);
}

.button {
  /*Positioning*/

  /*Display & Box Model*/
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.75em;
  margin: 0;
  max-width: 100%;
  height: 2.5em;
  border: none;
  border-radius: 0.25em;
  box-shadow:
    0 0.25em 0.4em rgba(50, 50, 93, 0.11),
    0 0.1em 0.25em rgba(0, 0, 0, 0.08);

  /*Color*/
  background: var(--button-bg-color);
  color: var(--button-text-color);

  /*Text*/
  font-size: 1rem;
  font-weight: 600;
  font-family: "Niagara Solid", sans-serif;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.025em;
  white-space: nowrap;

  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover-color);
  box-shadow:
      0 0.8em 1.4em rgba(50, 50, 93, 0.25),
      0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
}

.button:active {
  background-color: var(--button-active-color);
  box-shadow: initial;
}

.button:focus {
  outline: 0.15em dotted var(--button-focus-color);
}