/*
sizes 296x468
orange colors ee8129
dark orange shadow b3560b
lightblue edf5fd
lightgray f5f5f6
25 font color 35495a
iconic font color 3f4042
list font color 888c94
*/
h1 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 30px;
  margin-left: 40px;
  font-weight: lighter;
  margin-bottom: 55px;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*Common styles for pricing block*/
.pricing-block {
  border-radius: 5px;
  background: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  display: inline-block;
  float: left;
}

.title {
  font-size: 23px;
  font-weight:600;
  padding: 20px 0;
  margin: 0;
}

.content {
  font-size: 23px;
  font-weight: 600;
  color: #3f4042;
  padding: 18px 0 5px;
  margin: 0;
}

.value {
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  color: #35495a;
  text-transform: none;
  margin: 0 auto;
  width: 100%;
}

.value sup {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: -3px;
}

.value sub {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.features {
  list-style-type: none;
  color: #888c94;
  margin: 0 auto 17px;
  padding: 0;
  width: 90%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
}

.features > li {
  background: url("arrow.png") no-repeat;
  background-position: 32px 11px;
  padding: 7px 8px 8px 62px;
  border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
  background-color: #edf5fd;
}

.features > li:nth-child(even) {
  background-color: #f5f5f6;
}

.cta-btn {
  padding: 10px 0;
  margin: 3px auto 30px;
  width: 85%;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

/*Specific styles for BEST VALUE block*/
.best-value {
  width: 290px;
  border: 4px solid #ee8129;
}

.best-value .title {
  color: white;
  background: #ee8129;
}

.best-value .cta-btn {
  color: white;
  background: #ee8129;
  box-shadow: #b3560b 0 3px 0 0;
}

.standard {
  width: 290px;
  border: 1px solid #E8EAEC;
}

.standard .title {
  color: white;
  background: #2BC2D4;
  padding: 15px;
  margin-top: 13px;
}

.standard .cta-btn {
  color: white;
  background: #2F70A8;
  box-shadow: #b3560b 0 3px 0 0;
}

.ultimate {
  width: 290px;
  border: 1px solid #E8EAEC;
}

.ultimate .title {
  color: white;
  background: #00B89A;
  padding: 15px;
  margin-top: 13px;
}

.ultimate .cta-btn {
  color: white;
  background: #2F70A8;
  box-shadow: #b3560b 0 3px 0 0;
}