.container {
    width: 1260px;
    height: 1000px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.label {
    float: left;
    margin-top: 20px;
    margin-left: 170px;
    margin-right: 155px;
    width: 282px;
    height: 34px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.menu li {
    display: inline-block;
    padding: 40px 12px;
    padding-bottom: 30px;
    color: #551A8B;
    font-size: 13px;
}

.menu li:hover {
    border-bottom: 3px solid #4F85B5;
    color: #8E66B1;
}

.menu li:active, .menu li:focus {
    border-bottom: 3px solid #4F85B5;
    color: #FF0A0A;
}

.banner {
    display: block;
    float: left;
    background: url("title-back.jpg") no-repeat;
    color: white;
}

.banner span {
    display: block;
    text-align: center;
    font-size: 44px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0;
}

.banner span:first-of-type {
    font-size: 32px;
    margin-top: 130px;
}

.banner span:last-of-type {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: Calibri, serif;
    font-style: italic;
}

.banner a {
    display: inline-block;
    margin: 20px auto;
    font-size: 14px;
    border: 1px solid white;
    padding: 16px 58px;
    margin-left: 520px;
}

.banner {
    background-color: orange;
    border: 1px solid black;
    width: 1260px;
    height: 525px;
}