div.card {
  height: 460px;
  width: 290px;
  border: 4px solid #EE8129;
  border-radius: 5px;
}

div.headline {
  height: 73px;
  background-color: #EE8129;
  position: relative;
}

span {
  display: inline-block;
  color: white;
  line-height: 73px;
  font-size: 23px;
  font-weight: bold;
  font-family: Arial, serif;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-bottom: 25px;
}

.header ul li {
  list-style-type: none;
  text-align: center;
}

li:nth-child(odd) {
  width: 270px;
  background-color: #EDF5FD;
  margin-left: 10px;
}

li:nth-child(even) {
  width: 270px;
  background-color: #F6F6F6;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.header ul {
  padding-left: 0;
}

li:nth-child(2) {
  font-size: 74px;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  background-color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

li:nth-child(2):before {
  content: "$";
  vertical-align: super;
  font-size: 22px;
}

li:nth-child(2):after {
  content: "Monthly";
  vertical-align: sub;
  font-size: 18px;
  font-family: "Lucida Sans", sans-serif;

}

li:first-child {
  font-size: 24px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-stretch: condensed;
  background-color: white;
}

li:nth-child(2) ~ li {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  padding-left: 33px;
  color: #888C94;
  box-sizing: border-box;
}

li:nth-child(2) ~ li:before {
  content: url("arrow.png");
  padding-right: 17px;
}

li.button {
  content: none;
}

div.button {
  width: 180px;
  height: 25px;
  padding-left: 70px;
  padding-top: 15px;
  background-color: #EE8129;
  border-bottom: 3px solid #B3560B;
  border-radius: 5px;
  margin-left: 20px;
  position: relative;
}

a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 5% auto;
  text-align: center;
}

div.button:hover {
  border: 3px solid #B3560B;
}

