@import "./../../project/style .css";

:root {
  --input-bg-color: var(--pearl-white);
  --input-text-color: var(--honey-yellow);
}

.inputbox {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0.75em;
  height: 2.5em;
  background: var(--input-bg-color);
  color: var(--input-text-color);
  border: none;
  box-shadow:
    0 0.25em 0.4em rgba(50, 50, 93, 0.11),
    0 0.1em 0.25em rgba(0, 0, 0, 0.08);
}